*{
  margin: 0;
  padding:0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}


/* cores */
:root{
  --cor-primaria: #edcb9a;
  --cor-secundaria: #f7f8f9;
  --cor-terciaria: #afafaf;
  --cor-quartenaria: #e3e3e3;
}

.maiuscula{
  text-transform: uppercase;
}
/* estilo do cabeçalho*/
body{
  background-color: white;
}
header{
  width: 100vW;
  padding: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .4s;
  

}

.desaparecer{
  display: none;

}


.container-conteudo-header-topo{
  display: flex;
  justify-content: space-between;
  margin: 0 4rem 2rem 4rem;
  color: white;
  font-size: 12px;
  
}




#conteudo2-topo{
  display: flex;
  gap: 1rem;
}


.container-navegacao{
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  align-items: center;

}

ul.menu{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-weight: bold;
  

}

header a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
header a.stick{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#logotipo{
  font-size: 20px;
  font-weight: bold;
  
}

.cor-primaria{
  color: var(--cor-primaria);
  transition: all .3s;
}



nav.show .menu{
  position: fixed;
  top:0;
  right: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
}



.show ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-size: 18px;
  font-weight: bold;
  visibility: visible;
}

header  nav ul li{
  position: relative;
}


header nav ul li a:hover{
  color: var(--cor-primaria);
}

header nav ul li a:hover::after{
  content: '';
  width: 100%;
  height: 1.4px;
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  background-color: var(--cor-primaria);
  transition: all .2s;
}

#botao-reserva{
  padding: .8rem 1.7rem;
  border: none;
  background-color: var(--cor-primaria);
}

#botao-reserva a{
  font-weight: bold;
}

.toggle{
  cursor: pointer;
}

#icone-open-menu{
  display: none;
}

#icone-close-menu{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  font-size: 30px;
  display: none;
}

nav.show #icone-close-menu{
  display: block;
}


/* Adaptando o header*/

@media (max-width: 1150px){
  ul.menu{
    display: none;
  }

  #icone-open-menu{
    display: block;
    color: var(--cor-primaria);
  }
}




















/* Area da imagem por baixo do cabeçalho */

#container-img-cabecalho{
  position: relative;
  height: 40rem;
  background-image: url(imagens/foto-header.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

#container-conteudo-img-hotel{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 24px;
  font-weight: bold;
}

#cores-por-cima-img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,rgba(247, 176, 188, 0.918), rgba(0, 0, 0, 0.432));
  
}

#nome-hotel{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}
























/* seccao sobre nos */
#sobre-nos{
  padding: 3.4rem;
  color:  gray;
  font-weight: bold;
  background-color: white;
  
}

#sobre-hospedaria{
  max-width: 780px;
  margin: auto;
}

#sobre-nos p{
  text-align: center;
  margin-bottom: 1rem;
}

.fa-gem{
  position: relative;
  top: 0;
  left: 0;

}

.fa-gem::before{
  content: '';
  background-color: red;
  height: 3px;
  width: 26px;
  position: absolute;
  top: 50%;
  left: 0;
  
}

.fa-gem::after{
  content: '';
  background-color: blue;
  height: 3px;
  width: 26px;
  position: absolute;
  top: 50%;
  right: 0;


}























/*  icones representativos */

#icones-representativos-hotel{
  position: relative;
  background-image: url(imagens/quarto-de-casal.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  margin-bottom: 4rem;
}

#cor-acima-icones-representativos{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 6, 6, 0.418);
 
}

#container-icones-representativos {
 color: white;
 margin: auto;
 top: 50%;
 left: 50%;
 padding: 2rem;
 display: flex;
 justify-content: center;
 gap: 3rem;
 max-width: 800px;
 
}

#container-icones-representativos p{
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

#container-icones-representativos i{
  font-size: 60px;
  border: .3rem solid white;
  padding: 1rem;
  border-radius: 50%;

 }


















 
 /* cubos info */

 #container-cubos-info{
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  margin: auto 1rem;
  transform: translateY(-4rem);
}

.cubo-info{
  max-width: 300px;
  box-shadow: #11111170 5px 5px 22px;
  background-color: rgb(1, 1, 24);
  color: white;
  padding: 0rem 1rem 2rem 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  line-height: 1.4rem;
}

.cubo-info i{
  font-size: 35px;
  padding: .3rem;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(1, 1, 24);
  transform: translatey(-1.2rem);
  
}

.cubo-info .p1{
  font-size: 16px;
}

.cubo-info .p2{
  font-size: 14px;
  text-align: center;
}


















/* seccao dos  */

/* retangulos dos elementos  */


#seccao-elementos{
  margin-top: 8rem;
  margin-bottom: 35rem;  
}

.cubo-elemento{
  padding: 2rem .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}


#container-retangulos-representativos{
  border: 1px solid black;
  position: relative;
  max-width: 850px;
  margin: auto;
  margin-top: 1rem;
}


/* cards dos elementos */
.container-info-elementos{
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 850px;
  box-shadow: 1px ;
  padding: 2rem 2rem;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  background-color: white;
  opacity: 0;
}


img.imagem-elemento{
  width:320px;
  height: 270px;
  
}


.nome-elemento{
  font-size: 30px;
  font-weight: bold;
}


.container-conteudo-elemento{
  padding: .5rem;
}


.conteudo-elemento{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  max-width: 500px;
}


.retangulo-exibido{
  opacity: 1;
}


/* A grade: Quatro colunas iguais que flutuam uma ao lado da outra */

.row{
  display: flex;
  justify-content: center;
}

.column {
  max-width: 200px;
  border: 1px solid black;
}



.column .cubo-elemento:hover {
  background-color: white;
}



#imagemExpandida{
  width: 100%;
}





















/* slide dos depoimento */

#seccao-depoimentos{
  background-color: #f5f3f0;
  padding: 2rem;
  padding-bottom: 8rem;
  margin-bottom: 12rem;
}

#container-sobre-depoimentos{
  margin-bottom: 5rem;
  
}

#container-sobre-depoimentos p{
  text-align: center;
  color: #d7d8d9;
  font-weight: bold;
  margin-bottom: 1rem;
}

#sobre-depoimento1{
  font-size: 33px;
}
#sobre-depoimento2{
  font-size: 18px;
}

#container-cards-depoimentos{
  margin: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card-depoimentos{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem .8rem 3rem .8rem;
  background-color: white;
  position: relative;

}
.imagem-depoente{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translateY(-1.2rem);
  object-fit: cover;
}

.container-icones-star{
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: .4rem 0rem;
}

.virgulas-card-depoimentos{
  display: flex;
  justify-content: center;
  width: 60px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 0.1;
}

.img-virgula{
  width: 30px;
 
}

.img-estrela{
  width: 10%;
}

.info-depoente{
  
}

.nome-depoente{
  font-size: 15px;
  color: rgb(80, 77, 77);
  font-weight: bold;
  text-align: center;
}
.pais-depoente{
  font-size: 12px;
  color: gray;
  text-align: center;
}

.conteudo-depoente{
  text-align: center;
  font-size: 16px;
  color: gray;
  max-width: 240px;
}


@media(max-width: 900px){
  #container-cards-depoimentos{
    flex-direction: column;
    align-items: center;
  } 
}



















/* secção enviar email */

#seccao-email{
  position: relative;
  background-image: url(imagens/viagem.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 30rem;
  margin-bottom: 10rem;
}

#cores-por-cima-seccao-email{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(240, 100, 149, 0.486), rgba(140, 200, 208, 0.452));
  
}

#container-central-email{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);

}

#container-conteudo-seccao-email{
  margin-bottom: 1.3rem;
  text-align: center;
}

#sobre-newsletter1{
  font-size: 33px;
  margin-bottom: .6rem;
}

#sobre-newsletter2{
  font-size: 18px;
}


#container-input-email{
  position: relative;
  max-width: 350px;
  margin: auto;
}

#container-input-email input{
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;

}

#container-input-email button{
  border: none;
  position: absolute;
  top: 1;
  right: 0;
  padding: 1rem;
  font-size: 14px;
  background-color: var(--cor-primaria);
}

#container-input-email i{
 color: white; 
}


























/* footer */

footer{
  display: flex;
  gap: 2rem;
  justify-content: baseline;
  justify-content: center;
  background-color: rgb(245, 243, 243);
  padding: 2rem;
  margin-top: 2rem;

}

footer p{
  max-width: 300px;
  color: gray;
  text-align: justify;
  font-size: 15px;
}

footer a{
  display: block;
  text-decoration: none;
  color: gray;
}

footer #p1{
  max-width: 220px;
  text-align: justify;
  line-height: 1.5rem;
}


footer #p2{
  max-width: 250px;
  text-align: left;
  line-height: 1.5rem;
}

.destaque-footer{
  font-size: 16px;
  font-weight: bold;
}

.conteudo-footer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: .5rem;
}

.container-itens-info{
  display: flex;
  flex-direction: column;
  gap:.6rem;
}

/* adtaptação do footer*/

@media(max-width: 1200px){

  #conteudo-sobre-reserva{
    padding-left: 2rem;
  }
  
  footer{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  footer p{
    text-align: center;
  }

  footer #p2{
    text-align: center;
  }

  footer a{
    text-align: center;
  }
}