*{
  margin: 0;
  padding:0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

/* cores */
:root{
  --cor-primaria: #edcb9a;
  --cor-secundaria: #f7f8f9;
  --cor-terciaria: #afafaf;
  --cor-quartenaria: #e3e3e3;
}

/* estilo do cabeçalho*/
body{
  background-color: white;
}
header{
  width: 100vW;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .4s;
  

}

.desaparecer{
  display: none;

}

.maiuscula{
  text-transform: uppercase;
}


.container-conteudo-header-topo{
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 12px;
  background-color: var(--cor-primaria);
  padding: .5rem 3.7rem ;
  width: 100%;
  
}




#conteudo2-topo{
  display: flex;
  gap: 1rem;
}


.container-navegacao{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: .9rem 3.7rem;
  width: 100%;
  

}

ul.menu{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-weight: bold;

  

}

header{
  border-bottom: .5px solid lightgray;
}

header a{
  text-decoration: none;
  font-size: 14px;
  color: lightgray;  
}

#logotipo{
  font-size: 20px;
  font-weight: bold;
  color: var(--cor-primaria);
  
}

.cor-primaria{
  color: var(--cor-primaria);
  transition: all .3s;
}
.maiuscula{
  text-transform: uppercase;
}


nav.show .menu{
  position: fixed;
  top:0;
  right: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
}



.show ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-size: 18px;
  font-weight: bold;
  visibility: visible;
}

header ul li{
  position: relative;
  color: lightgray;
}

header nav.show ul li a{
  color: black;
} 

header nav ul li a:hover{
  color: var(--cor-primaria);
}

header nav ul li a:hover::after{
  content: '';
  width: 100%;
  height: 1.4px;
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  background-color: var(--cor-primaria);
  transition: all .2s;
}

#botao-reserva{
  padding: .8rem 1.7rem;
  border: none;
  background-color: var(--cor-primaria);
}

#botao-reserva a{
  font-weight: bold;
  color: white;
}

.toggle{
  cursor: pointer;
}

#icone-open-menu{
  display: none;
}

#icone-close-menu{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  font-size: 30px;
  display: none;
}

nav.show #icone-close-menu{
  display: block;
}


/* Adaptando o header*/

@media (max-width: 1150px){
  ul.menu{
    display: none;
  }

  #icone-open-menu{
    display: block;
    color: var(--cor-primaria);
  }
}


/* main*/
#container-img-cabecalho{
  margin-top: 6rem;
  position: relative;
  height: 12rem;
  background-image: url(imagens/foto-header.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

#cores-por-cima-img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,rgba(247, 176, 188, 0.644), rgba(0, 0, 0, 0.432));
  
}

#container-conteudo-img-hotel{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 24px;
  font-weight: bold;
}

#container-conteudo-img-hotel{
  position: absolute;
  top: 5rem;
  left: 14rem;
  text-align: left;
}

#nome-pagina{
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 1rem;
}

#referencia{
  font-size: 18px;
  
}

#referencia-colorida{
  color: var(--cor-primaria);
}


































#sobre-hotel{
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin-top: 10rem;
  
}


#sobre-hotel-conteudo{
  line-height: 1.3rem;
  max-width: 600px;
  padding: 1rem;
  color: var(--cor-terciaria);
}




#sobre-hotel-conteudo-p1{
  font-size: 40px;
  margin-bottom: .5rem;
  font-weight: bold;
}

#sobre-hotel-conteudo-p2{
  margin-bottom: 2rem;
}


#sobre-hotel img{
  width: 270px;
  height: 300px;

}


























#seccao-faturas{
  
  max-width: 1100px;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.numero-fatura{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 1rem;
}


#p-fatura{
  font-size: 18px;
  margin-bottom: .5rem;
  font-weight: bold;
}

#paragrafo-fatura{
  margin: auto;
  max-width: 1000px;
  text-align: center;
  padding: .5rem;
}


.container-cubos-fatura{

  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem;
  max-width: 1000px;
  width: 95%;

}

.cubo-fatura{
  width: 50px;
  position: relative;
  text-align: center;
  padding: 5rem 7rem;
  box-shadow: 1px 1px 10px var(--cor-quartenaria);
  
}



.cubo-fatura img{
  position: absolute;
  max-width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: .1;
}



.cubo-conteudo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}





































#seccao-servicos{
  display: flex;
  flex-direction: column;
  max-width: 950px;
  margin: auto; 
  color: gray;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
 
}

#imgs-servicos{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* imagem com texto após o hover */
/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #edca9abe;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}




#p-servicos{
  font-size: 18px;
  margin-bottom: .5rem;
  font-weight: bold;
}